html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-cl: #212121;
  --accent-color: #2196f3;
  --dark-bg: #2f303a;
  --gray: #757575;
  --white: #ffffff;
  --light-bg: #f5f4fa;
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
}

body {
  font-family: var(--text-font);
  font-weight: 700;
  color: var(--gray);
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.list {
  display: flex;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.content-title {
  text-decoration: none;
}
body {
  margin: 0px;
}
address {
  font-style: normal;
}
/*==============================Header*===========================*/
.header {
  border-bottom: 1px solid;
  border-color: #ececec;
}
.header-container,
.link {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-header-1,
.list-header-2 {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.list-header-1 {
  margin-left: 93px;
}

.list-header-1 li:nth-child(-n + 2),
.list-header-2 li:first-child {
  margin-right: 50px;
}

.menu-item,
.list-item {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link {
  color: var(--text-cl);
}
.list-item {
  color: var(--gray);
}

.list-header-2 {
  margin: 32px 0px 32px 331px;
}

.logo,
.logo-dark,
.logowhite {
  font-size: 26px;
  line-height: 1.42;
}

.logo {
  display: inline-block;
  font-family: var(--title-font);
  color: var(--accent-color);
  margin-right: 0px;
}

.logo-dark {
  color: var(--text-cl);
  margin-left: 0px;
}

.active {
  color: var(--accent-color);
}

/*=============================Hero================================*/

.hero {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--dark-bg);
}
.hero-title {
  box-sizing: content-box;
  display: block;
  width: 696px;
  height: 120px;
  padding: 200px 252px 0px 252px;
  text-align: center;
}

.btn1,
.btn {
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.btn1 {
  display: inline-block;
  color: var(--white);
  background-color: var(--accent-color);
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  vertical-align: middle;
  margin: 30px 450px 200px 450px;
}

.btn {
  color: var(--text-cl);
  background-color: var(--light-bg);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

/* ABOUT*/

.content {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-cl);
}
.list-about-item {
  display: inline-block;
  margin-right: 30px;
}

.list-about li:last-child {
  margin-right: 0px;
}
.content {
  margin-top: 94px;
  margin-bottom: 10px;
}

.content-item {
  font-size: 14px;
  line-height: 24px;
  line-height: 1.71;
  color: var(--gray);
  width: 270px;
  height: 75px;
}

/*ABOUT-IMAGES*/

.title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--text-cl);
  margin-top: 94px;
  margin-bottom: 50px;
}

.img-list {
  margin-right: 30px;
}

/*TEAM*/
.team {
  background-color: var(--light-bg);
}

.title-team {
  padding-top: 94px;
}

.team-member {
  font-weight: 500;
  color: var(--text-cl);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-member-pro {
  font-weight: 400;
  color: var(--gray);
}
.team-member-pro,
.team-member {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-team-item {
  width: 270px;
  height: 368px;
  background-color: var(--white);
  margin-right: 30px;
  margin-bottom: 94px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*FOOTER*/
footer {
  background-color: var(--dark-bg);
}

.logowhite {
  font-weight: 400;
  color: var(--white);
  padding: 0px;
}
.footer-logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 0px;
}

.link-address-item {
  color: var(--white);
  text-decoration: none;
}

.list-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}
.street,
.email {
  padding-bottom: 9px;
}
.tel {
  padding-bottom: 60px;
}
